body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
}

.load_spinner {
    height: 10vh;
    width: 10vh;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    border: 0.5vh solid rgba(0, 0, 0, 0.05);
    border-top-color:   rgba(0, 110, 255, 1);
    animation: spinner 650ms linear infinite;
    position: absolute;
    left: 50%;
    top: 20%;
    margin-top: -5vh;
    margin-left: -5vh;
}
@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

#app {
    text-align: center;
}

.navbar {
    height: 10vh;
    background: #acacac;
}
.navbar-container {
    width: 100%;
    margin: 0 auto;
    max-width: 1000px;
}

.brand {
    position: absolute;
    float: left;
    padding-left: 0;
    line-height: 100px;
    text-transform: uppercase;
    font-size: 1.4em;
}
.brand a img {
	max-height: 10vh;
}
.brand a,
.brand a:visited {
    color: #ffffff;
    text-decoration: none;
}

nav {
    float: right;
    height: 10vh;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
}
nav ul li {
    float: left;
    position: relative;
}
nav ul li a,
nav ul li a:visited {
    display: block;
    padding: 0 20px;
    line-height: 10vh;
    background: #acacac;
    color: black;
    text-decoration: none;
}
nav ul li a:hover,
nav ul li a:visited:hover {
    color: #ffffff;
}
nav ul li a:not(:only-child):after,
nav ul li a:visited:not(:only-child):after {
    padding-left: 4px;
    content: ' ▾';
}
nav ul li ul li {
    min-width: 190px;
}
nav ul li ul li a {
    padding: 15px;
    line-height: 20px;
}
   
.navbar-dropdown {
    position: absolute;
    display: none;
    z-index: 1;
}
.navbar-mobile {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background: #262626;
    height: 70px;
    width: 70px;
}

@media only screen and (max-width: 999px) {
    .navbar-mobile {
        display: block;
    }
     
    nav {
        width: 100%;
        padding: 70px 0 15px;
    }
    nav ul {
        display: none;
    }
    nav ul li {
        float: none;
    }
    nav ul li a {
        padding: 15px;
        line-height: 20px;
        padding-left: 25%;   
    }
    nav ul li ul li a {
        padding-left: 30%;
    }
     
    .navbar-dropdown {
        position: static;
    }
    .brand a img {
        max-height: 60px;
        margin-top: 5px;
    }
}
@media screen and (min-width: 1000px) {
    .navbar-list {
        display: block !important;
    }
}
#navbar-toggle {
    position: absolute;
    left: 18px;
    top: 22px;
    cursor: pointer;
    padding: 10px 35px 16px 0px;
}
#navbar-toggle span,
#navbar-toggle span:before,
#navbar-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: #ffffff;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out;
}
#navbar-toggle span:before {
    top: -10px;
}
#navbar-toggle span:after {
    bottom: -10px;
}
#navbar-toggle.active span {
    background-color: transparent;
}
#navbar-toggle.active span:before, #navbar-toggle.active span:after {
    top: 0;
}
#navbar-toggle.active span:before {
    transform: rotate(45deg);
}
#navbar-toggle.active span:after {
    transform: rotate(-45deg);
}